:host {
    display: flex;
}
/*A classe no css do componente raiz deve ser o mais simples para possibilitar a customização*/
.menu {
    display: flex;
    flex-grow: 1;
}
.menu img {
    margin: 20px;
}
.top-bar {
    margin: auto;
}
.small-image {
    width: 50px;
}